// Base
@use "base/reset";
@use "base/typography";

// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

// Layouts
@use "layouts/header";
@use "layouts/footer";
@use "layouts/responsive";
@use "layouts/about";
@use "layouts/contact";
@use "layouts/privacy";
@use "layouts/terms";

// Components
@use "components/buttons";
@use "components/forms";

// Add more as needed 