@use "sass:color";
@use "../utils/variables" as *;

.contact-us-button {
  background-color: $light-primary-color;
  color: $secondary-color;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($light-primary-color, $lightness: +10%);
  }
}

.contact-button {
  background-color: $secondary-color;
  color: $light-primary-color;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($secondary-color, $lightness: -20%);
    color: white;
  }
}

.about-button {
  background-color: transparent;
  color: $secondary-color;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 0.25rem;
  }
} 