$primary-color: #152c18;
$light-primary-color: #314837;
$secondary-color: #bf9f4c;
$background-color: #b9b59f;
$text-color: #333;
$footer-bg: #9D5C63;
$container-max-width: 75rem; 

// $primary-color: #364639;
