@use "../utils/variables" as *;

.footer {
  background-color: $light-primary-color;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;

  .footer-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    .footer-links {
      color: $primary-color;

      ul {
        padding-left: 1em;


        li a {
          text-decoration: none;
          color: $primary-color;
  
        }
      }
    
    }
  }

  .footer-contact {
    color: $primary-color;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        padding: 0.5em;
      }

     a {
      text-decoration: none;
      color: $primary-color;
      }
    }
  }
}

.footer-logo {
  width: 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.copyright-container {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;

    .image-attribution {
      font-size: 0.5em;
      color: white;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .legal-links {
    display: flex;
    flex-direction: row;
    gap: 1em;

    a {
      text-decoration: none;
      color: white;
    }
  }
} 
