<footer class="footer">
    <div class="footer-top">
        <div class="footer-top-container">
            <img src="/assets/images/logo-blue.webp" alt="Ventura Coast Web Design Logo" class="footer-logo">
            <div class="footer-links">
                <h1>Quick Links</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-contact">
            <h1>Contact Us</h1>
            <p><i class="fa-solid fa-clock"></i> 24/7</p>
            <p><i class="fa-solid fa-envelope"></i><a href="mailto:sales@venturacoastwebdesign.com"> sales@venturacoastwebdesign.com</a></p>
            <p><i class="fa-solid fa-phone"></i><a href="tel:+18059055948"> +1 (805) 905-5948</a></p>
        </div>
    </div>

    <div class="copyright-container">
        <div class="attribution">
            <p>&copy; <span class="current-year"></span> Ventura Coast Web Design. All rights reserved.</p>
            <p class="image-attribution">Laptop image <a href="http://www.freepik.com">designed by D3images / Freepik</a></p>
        </div>
        <div class="legal-links">
          <a href="/privacypolicy">Privacy Policy</a>
          <p>|</p>
          <a href="/terms">Terms of Use</a>
        </div>
    </div>
</footer> 