<footer class="footer">
    <div class="footer-top">
        <img src="/assets/images/logo.png" alt="Moorpark Web Design Logo" class="footer-logo">
        <div class="footer-links">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h1>Contact Us</h1>
            <p><i class="fa-solid fa-clock"></i> 24/7</p>
            <p><i class="fa-solid fa-envelope"></i> Email: <a href="mailto:andrew.ackers@gmail.com">andrew.ackers@gmail.com</a></p>
            <p><i class="fa-solid fa-phone"></i> Phone: <a href="tel:+18059055948">+1 (805) 905-5948</a></p>
        </div>
    </div>

    <div class="copyright-container">
        <p>&copy; <span class="current-year"></span> Moorpark Web Design. All rights reserved.</p>
    </div>
</footer> 